// Colors
$primary-color: #ffd700;
$secondary-color: #022c44;

$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-darkgray: #4d4d4e;
$color-dark: #181818;