// Colors
$primary-color: #4d2710;
$secondary-color: #477e54;
$color-navbar: #4d2710;
$color-navbar-links: #af8900;

$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-darkgray: #4d4d4e;
$color-dark: #181818;

$color-nodejs: #83ba63;

$color-darkblue: #343148;
$color-darktan: #d7c49e;
